# Django Settings
DEBUG=True
SECRET_KEY=django-insecure-zv(imxx^o6051#otn#7y4p&&ic95z6ulj9f6-7c^)l#%8q*)ci

# Database Settings
DB_NAME=fieldops_db
DB_USER=fieldops_user
DB_PASSWORD=password123
DB_HOST=localhost
DB_PORT=5432
